<h1>This is <%= current_user.name %></h1>


<ul class="nav nav-tabs" id="myTab" role="tablist">
  <li class="nav-item">
    <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">My Bikes</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">My Bookings</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact" aria-selected="false">Bikes I'm renting</a>
  </li>
</ul>
<div class="tab-content" id="myTabContent">
  <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
    <%= link_to "add bike", new_bicycle_path %>
    <div class="bicycle-container">
      <% @bicycles.each do |bicycle| %>
        <div class='bicycle-card'>
          <% if bicycle.photo.attached? %>
            <%= cl_image_tag bicycle.photo.key, alt: "alttext", class: "bicycle-card-img" %>

          <% else %>
            <%= image_tag "bikez.jpg", alt: "alttext", class: "bicycle-card-img" %>
          <% end %>
          <div class="bottom-bike-card">
            <h5 class="bike-title"><%= bicycle.title %></h5>
            <div class="bike-info">
              <div >
                <h5><%= bicycle.style.capitalize %></h5>
                <p>£<%= bicycle.price %> / hour</p>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
  <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
    <div class="bicycle-container">
      <% @bookings.each do |booking| %>
        <div class='bicycle-card'>
          <% if booking.bicycle.photo.attached? %>
            <%= cl_image_tag booking.bicycle.photo.key, alt: "alttext", class: "bicycle-card-img" %>

          <% else %>
            <%= image_tag "bikez.jpg", alt: "alttext", class: "bicycle-card-img" %>
          <% end %>
          <div class="bottom-bike-card">
            <h5 class="bike-title"><%= booking.bicycle.title %></h5>
            <div class="bike-info">
              <div >
                <h5><%= booking.start_date.strftime('%d/%m/%y') %> to <%= booking.end_date.strftime('%d/%m/%y') %></h5>
                <p><%= booking.total_price %></p>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
  <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">
    <h2>Bookings for my bikes other people have made</h2>
    <div class="bicycle-container">
      <% @bicycle_bookings.each do |booking| %>
        <div class='bicycle-card'>
          <% if booking.bicycle.photo.attached? %>
            <%= cl_image_tag booking.bicycle.photo.key, alt: "alttext", class: "bicycle-card-img" %>

          <% else %>
            <%= image_tag "bikez.jpg", alt: "alttext", class: "bicycle-card-img" %>
          <% end %>
          <div class="bottom-bike-card">
            <h5 class="bike-title"><%= booking.bicycle.title %></h5>
            <div class="bike-info">
              <div >
                <h5><%= booking.start_date.strftime('%d/%m/%y') %> to <%= booking.end_date.strftime('%d/%m/%y') %></h5>
                <p><%= booking.total_price %></p>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>







