<div class="page-container">
    <div class="lhs-index-page">
       <% if @bicycles.empty? %>
        <h1>No results found!</h1>
          <% end %>
        <% @bicycles.each do |bicycle| %>

        <div class='bicycle-card'>
            <% if bicycle.photo.attached? %>
              <%= cl_image_tag bicycle.photo.key, alt: "alttext", class: "bicycle-card-img" %>
            <% else %>
              <%= image_tag "bikez.jpg", alt: "alttext", class: "bicycle-card-img" %>
            <% end %>
            <div class="bottom-bicycle-card">
              <div class="bicycle-info">
                <p class="subtext"><%= bicycle.style.capitalize %></p>
                <p class="bicycle-title"><%= bicycle.title %></p>
                <p class="subtext"><%= bicycle.location %></p>
                <p class="subtext">£<%= bicycle.price %> / day</p>
            </div>
            <div class="bicycle-info-button">
               <%= link_to "Book me", bicycle_path(bicycle), class: "btn btn-primary"%>
             </div>
            <%= link_to "", bicycle_path(bicycle), class: "stretched-link"%>
            </div>
        </div>
      <% end %>
    </div>

    <div class="rhs-index-page">
      <div id="map"
       style="width: 100%;
       height: 100vh;"
       data-markers="<%= @markers.to_json %>"
       data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
      </div>
    </div>
</div>
