<div class="container-post-bike pt-2" style="background-image: linear-gradient(187deg, rgba(180,58,122,0.3) 0%, rgba(108,204,184,0.3) 25%, rgba(233,70,0,0.3) 50%);">
  <div class="new-form-card">
    <h2>Post a bike!</h2>
    <div class="new-form">
      <%= simple_form_for(@bicycle) do |f| %>
        <%= f.input :title %>
        <%= f.input :style %>
        <%= f.input :size %>
        <%= f.input :price, :label => 'Price (£)' %>
        <%= f.input :photo, as: :file %>
        <%= f.input :location %>
        <%= f.submit 'Create post!', class: 'btn btn-flat w-100' %>
      <% end %>
    </div>
  </div>
</div>
