<div class="container">
  <div class="new-form-card">
    <h2>Post a bike!</h2>
    <div class="new-form">
      <%= simple_form_for(@bicycle) do |f| %>
        <%= f.input :title %>
        <%= f.input :style %>
        <%= f.input :size %>
        <%= f.input :price, :label => 'Price (£)' %>
        <%= f.input :photo, as: :file %>
        <%= f.input :location %>
        <%= f.submit 'Create post!', class: 'btn btn-flat w-100' %>
      <% end %>
    </div>
  </div>
</div>
