<!-- http://localhost:3000/bicycles/1 -->
<%#= image_tag "bicycle.jpg", alt: "alttext", class: "banner-img" %>

<!-- for the images  -->
<div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
    <% if @bicycle.photo.attached? %>
      <div class="carousel-item active">
      <%= cl_image_tag @bicycle.photo.key, alt: "alttext", class: 'banner-img' %>
      </div>
    <% else %>
      <div class="carousel-item active">
        <%= image_tag "tour.jpg", class: 'banner-img' %>
      </div>
    <% end %>
    <div class="carousel-item">
      <%= image_tag "bicycle-avatar.jpg", class: 'banner-img' %>
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>

<div class="bicycle-show-flex">
  <div class="lhs-bicycle">
    <div class="card-box-shadow">
      <h2 class="bicycle-header"><%= @bicycle.title %></h2>
      <h4>This leg powered device lives in <%= @bicycle.location %>.</h4>
      <h4>This is a <%= @bicycle.style %> bicycle.</h4>
    </div>

    <div class="bicycle-reviews card-box-shadow align-items-start">
      <div class="reviews-title-bar">
        <h2 class="review-header">Reviews</h2>
        <%= link_to "Leave a review", new_bicycle_review_path(@bicycle), class: "btn btn-dark" %>
      </div>
      <div class="reviews">
        <% @reviews.each do |review| %>
        <% review.rating.times do%>
        <i class="fas fa-star star-color"></i> 
        <% end %>
        <br>
        <%= review.comment %>
        <br>
        <br>
      <% end %>
      </div>
    </div>
  </div>

  <div class="rhs-bicycle">
    <div class="card-box-shadow">
      <h5>£<%= @bicycle.price %> - per day</h5>
      <h6>Days</h6>
      <h6>Total</h6>
      <%= link_to 'Reserve', new_bicycle_booking_path(@bicycle), class: "btn btn-flat" %>
    </div>
  <div id="map"
       style="width: 100%;
       height: 600px;"
       data-markers="<%= @markers.to_json %>"
       data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"></div>
  </div>
</div>
