<div class="container-home" style="background-image: url(<%= image_path "homepage-img.jpg" %>);">
<!--   <div class="card-box-shadow"> -->
    <!-- <div class="logo"> -->

<!--     </div> -->
    <div class="search-form">
        <h4>Search through thousands of bikes </h4>

<!--         <label for="location">Location</label>
        <input class="input" type="text">
        <label for="start_date">Start date</label>
        <input class="input" type="text">
        <label for="start_date">End date</label>
        <input class="input" type="text">
        <input type="submit" class="btn-flat"> -->
        <%= form_tag bicycles_path, method: :get do %>
          <label for="location">Location</label>
          <%= text_field_tag :location,
            params[:location],
            class: "form-control",
            placeholder: "Location", required: true
          %>
          <label for="size">Size (optional)</label>
          <%= text_field_tag :size,
            params[:size],
            class: "form-control",
            placeholder: "Size"
          %>
          <label for="style">Style (optional)</label>
          <%= text_field_tag :style,
            params[:style],
            class: "form-control",
            placeholder: "Style"
          %>
          <label for="price">Price (optional)</label>
          <%= text_field_tag :price,
            params[:price],
            class: "form-control",
            placeholder: "Price"
          %>
        <%= submit_tag "Search for your ideal bike", class: "btn btn-flat"%>
      <% end %>
    </div>
<!--   </div> -->
</div>
