<div class="review-container pt-1 pb-1" style="background-image: linear-gradient(187deg, rgba(180,58,122,0.3) 0%, rgba(108,204,184,0.3) 25%, rgba(233,70,0,0.3) 50%);">
  <div class="new-form-card">
    <h2>Post a new review for <%= @bicycle.title %></h2>
    <hr>
    <div class="new-form">
      <%= simple_form_for [ @bicycle, @review ] do |f| %>
        <%= f.input :comment %>
        <%= f.input :rating %>
        <%= f.submit 'Create review', class: 'btn btn-flat w-100' %>
      <% end %>
    </div>
  </div>
</div>
